/* ---------------------------------- Reset --------------------------------- */

*, ::after, ::before {
    box-sizing: border-box;
    margin: var(--m-0);
}

/* -------------------------------- Variables ------------------------------- */

:root {
    /* Colores */
    --color-dark: #434343;
    --color-medium: #ced4da;
    --color-light: #f2f2f2;
    --color-white: #ffffff;
    --color-red: #ee774a;
    --color-red-dark: #9a2c02;
    --color-green: #48c774;
    --color-green-dark: #669c99;
    --color-blue: #87cdc9;


    /* Colores alpha */
    --color-red-a: #ee774aba;
    --color-green-a: #48c7741e;

    /* Tamaños rem */
    --rem-0: 0;
    --rem-1: 1rem;
    --rem-2: 2rem;
    --rem-3: 3rem;
    --rem-4: 4rem;
    --rem-5: 5rem;

}

/* ------------------------------- Utilidades ------------------------------- */

/* Margen */
.m-0 {
    margin: var(--rem-0);

}

.m-1 {
    margin: var(--rem-1);

}

.m-2 {
    margin: var(--rem-2);

}

.m-3 {
    margin: var(--rem-3);

}

.m-4 {
    margin: var(--rem-4);

}

.m-5 {
    margin: var(--rem-5);

}

/* Padding */
.p-0 {
    padding: var(--rem-0);

}

.p-1 {
    padding: var(--rem-1);

}

.p-2 {
    padding: var(--rem-2);

}

.p-3 {
    padding: var(--rem-3);

}

.p-4 {
    padding: var(--rem-4);

}

.p-5 {
    padding: var(--rem-5);
}

/* Diplasy fuente */
display-1 {
    font-size: var(--rem-1);
}

display-2 {
    font-size: var(--rem-2);
}

display-3 {
    font-size: var(--rem-3);
}

display-4 {
    font-size: var(--rem-4);
}

display-5 {
    font-size: var(--rem-5);
}

/* Width en % */
.w-100 {
    width: 100%;
}

.w-60 {
    width: 60%;
}

.w-50 {
    width: 50%;
}

.w-20 {
    width: 20%;
}

/* Background colores */
.bg-red {
    background-color: var(--color-red);
}

.bg-blue {
    background-color: var(--color-blue);
}

/* Utilidades Flex Box */
.flex-grow-0 {
    flex-grow: 0;
}

.justify-content-center {
    justify-content: center;
}

/* Posiciones */
.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

/* ------------------------------- Estructura ------------------------------- */
/* Contenedor general de cada página */
body {
    font-size: 16px;
    min-height: 100vh;
    font-family: sans-serif;
    color: var(--color-dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../Img/bg.png");
    background-position: center;
    background-size: cover;
}

/* Menu superior */
nav {
    padding: var(--rem-1);
    background-color: var(--color-blue);
    width: 100%;
}

/* Contenedor */
.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 80%;
    margin: var(--rem-2);
}

/* Filas este css cambio de flex a block para hacer responsive el diseño */
.row {
    display: block;
    justify-content: center;
}

/* Col - Puedo poner las que necesite dentro de la row, se divide el espacio */
.col {
    border-radius: calc(var(--rem-1)/4);
    padding: var(--rem-1);
    margin: var(--rem-0) var(--rem-1) var(--rem-1);
    width: 100%;
}

footer {
    text-align: center;
    color: var(--color-light);
    background-color: var(--color-blue);
    padding: var(--rem-2);
    width: 100%;
}

/* ------------------------------ Elementos ----------------------------------*/
/* Input */
input {
    display: block;
    width: 100%;
    height: var(--rem-3);
    padding: calc(var(--rem-1)/4) calc(var(--rem-1)/3);
    margin-bottom: var(--rem-1);
    font-size: var(--rem-1);
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: calc(var(--rem-1)/4);
    transition: all 0.2s linear;
}

/* Botones */
.btn {
    display: inline-block;
    font-weight: 400;
    background-color: var(--color-blue);
    color: var(--color-white);
    text-align: center;
    padding: calc(var(--rem-1)/4) calc(var(--rem-1)/3);
    margin-bottom: var(--rem-1);
    font-size: var(--rem-1);
    font-weight: 400;
    line-height: 1.5;
    border: none;
    border-radius: calc(var(--rem-1)/4);
    transition: all 0.2s linear;
    cursor: pointer;
}

.btn:hover {
    background-color: #669c99;
}

/* Lineas */
.hr-white {
    border: none;
    border-top: 1px solid var(--color-light);
    margin-bottom: var(--rem-2);
}

/* Enlaces */
.a {
    display: inline-block;
    text-decoration: none;
    transition: all 0.2s linear;
}

.a-white {
    color: var(--color-white);
}

.a-white:hover {
    color: var(--color-dark);
}

.a-red {
    color: var(--color-red);
}

.a-red:hover {
    color: var(--color-white);
}

.logo-nav {
    height: 50px;
}

.tooltip {
    position: absolute;
    z-index: 10;
    padding: calc(var(--rem-1)/3);
    color: var(--color-dark);
    background-color: var(--color-light);
    border-radius: 5px;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
    transition: all 0.2s linear;
}

/* Tooltip para mensajes */
.tooltip::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

/* --------------------------- Página login --------------------------------- */

.pareja-login {
    position: absolute;
    bottom: 55px;
    left: 40px;
    width: 25%;
}


/* Diseño campos de formualarios para errores y correctos los reutilizaremos en
 * todos los furmularios
 */
.error {
    top: 40px;
    left: 10px;
    color: white;
    background-color: var(--color-red-dark);
}

.error::after {
    left: 25%;
    border-color: transparent transparent var(--color-red-dark) transparent;

}

input:focus {
    outline: none;
}

.campo:focus:invalid {
    -webkit-box-shadow: inset 0px 0px 10px 0px rgba(238,119,74,1);
    -moz-box-shadow: inset 0px 0px 10px 0px rgba(238,119,74,1);
    box-shadow: inset 0px 0px 10px 0px rgba(238,119,74,1);
    border: 1px solid var(--color-red-dark);
}

.campo:focus:valid {
    -webkit-box-shadow: inset 0px 0px 10px 0px rgba(72,199,116,1);
    -moz-box-shadow: inset 0px 0px 10px 0px rgba(72,199,116,1);
    box-shadow: inset 0px 0px 10px 0px rgba(72,199,116,1);
    border: 1px solid var(--color-green);
}

/* -------------------------- Media Query ------------------------------------*/

@media only screen and (min-width: 800px) 
{
    /* Sección */
    .row {
        display: flex;
    }

    /* Login y similares */
    .login {
        width: 50%;
    }

    .pareja-login {
        position: absolute;
        bottom: 45px;
        left: 40px;
        width: 20%;
    }
}